/********************
BREAKPOINTS
********************/

@mixin breakpoint($point) {
  @if $point == 480 {
    @media (min-width: 480px) { @content; }
  }
  @if $point == 600 {
    @media (min-width: 600px) { @content; }
  }
  @if $point == 768 {
    @media (min-width: 768px) { @content; }
  } 
  @if $point == 992 {
    @media (min-width: 992px) { @content; }
  } 
  @if $point == 1300 {
    @media (min-width: 1300px) { @content; }
  }   
  @else if $point == 1024 {
    @media (min-width: 1024px) { @content; }
  } 
}