/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* _-_-_- base/BASE -_-_-_ */
.clearfix {
  overflow: auto;
  zoom: 1;
}

/* _-_-_- base/TYPOGRAPHY -_-_-_ */
/* _-_-_- layout/FOOTER -_-_-_ */
/* _-_-_- layout/FORMS -_-_-_ */
/* _-_-_- layout/GRID -_-_-_ */
/* _-_-_- layout/HEADER -_-_-_ */
/* _-_-_- layout/NAVIGATION -_-_-_ */
/* _-_-_- layout/SIDEBAR -_-_-_ */
/* _-_-_- modules/BUTTONS -_-_-_ */
/* _-_-_- modules/DROPDOWN -_-_-_ */
/* _-_-_- modules/THUMBNAILS -_-_-_ */
/* _-_-_- pages/ABOUT -_-_-_ */
/* _-_-_- pages/CONTACT -_-_-_ */
/* _-_-_- pages/HOME -_-_-_ */
#clock {
  background: black;
  padding: 20px;
  display: flex;
  margin: 20px;
  border-radius: 12px;
}
#clock div {
  flex-basis: 33.33%;
  display: flex;
  flex-wrap: wrap;
}
#clock div span, #clock div p {
  flex-basis: 100%;
  text-align: center;
}
#clock div p {
  margin-bottom: 0;
  font-family: serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 0;
}
#clock div span {
  font-size: 48px;
  font-family: "Orbitron", sans-serif;
  color: #F21622;
  font-weight: bold;
}

.buttons {
  margin-top: 12px;
  display: flex;
  margin: 20px;
  flex-direction: row-reverse;
}
.buttons button {
  padding: 12px;
  font-size: 18px;
  padding: 12px 22px;
  border-radius: 5px;
  border: none;
}
.buttons button:hover {
  cursor: pointer;
}
.buttons #start {
  margin-left: 12px;
  background: green;
  color: white;
}
.buttons #start:hover {
  background: darkgreen;
}
.buttons #start.stopped {
  background: red;
}
.buttons #reset {
  border: 1px solid #aaa;
}
.buttons #reset:hover {
  background: #eaeaea;
}

:focus {
  border: none;
  outline: none;
}

#clock {
  background: black;
  padding: 20px;
  display: flex;
  margin: 20px;
  border-radius: 12px;
}
#clock div {
  flex-basis: 33.33%;
  display: flex;
  flex-wrap: wrap;
}
#clock div span, #clock div p {
  flex-basis: 100%;
  text-align: center;
}
#clock div p {
  margin-bottom: 0;
  font-family: serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 0;
}
#clock div span {
  font-size: 48px;
  font-family: "Orbitron", sans-serif;
  color: #F21622;
  font-weight: bold;
}

.buttons {
  margin-top: 12px;
  display: flex;
  margin: 20px;
  flex-direction: row-reverse;
}
.buttons button {
  padding: 12px;
  font-size: 18px;
  padding: 12px 22px;
  border-radius: 5px;
  border: none;
}
.buttons button:hover {
  cursor: pointer;
}
.buttons #start {
  margin-left: 12px;
  background: green;
  color: white;
}
.buttons #start:hover {
  background: darkgreen;
}
.buttons #start.stopped {
  background: red;
}
.buttons #reset {
  border: 1px solid #aaa;
}
.buttons #reset:hover {
  background: #eaeaea;
}

:focus {
  border: none;
  outline: none;
}

/*# sourceMappingURL=main.css.map */
